@CHARSET "UTF-8";
body
{
	margin:0px;
	padding:0px;
	background-color:#dbeae3;
}
div
{
	display:block;
	word-wrap:break-word;
	word-break:break-all;
	margin:0px;
	padding:0px;
}
a{
	text-decoration:none;
	color:#6b702e;
}
a:hover
{
	color:#384229;
	text-decoration:underline;
}
a:visited
{
	text-decoration:none;
	color:#6b702e;
}
img{
	border:none;
}

.fixed
{
	width:100%;
	height:0px;
	clear:both;
	margin:0px;
}
.hide
{
	display:none;
}
#warp
{
	margin:0 auto;
	width:780px;
	overflow:hidden;
	background-color:#FFF;
}
#head_warp
{
	background:url("/img/head_back.jpg") repeat-y;
	margin: 0px;
	padding:0px;
}
.logo_img
{
	margin:10px 10px 10px 20px;
	float:left;
}

#menu_warp
{
	margin:25px 25px 10px 5px;
	padding:5px 10px 5px 10px;
	background-color:#FFF;
	float:right;
}
.head_jiantou
{
	margin-left:50px;
	padding:0px;
	height:15px;
	border:none;
	display:block;
}
#main_warp
{
	float:left;
	width:578px;
}

#form_warp
{
	margin:10px;
}
#tweet_msg
{
	width:540px;
	height:100px;
	overflow-x:hidden;
	overflow-y:hidden;
}
#tweet_submit
{
	margin-right:20px;
	margin-top:15px;
	font-size:24px;
	width:95px;
	height:45px;
	float:right;
}
.tweet_tip
{
	padding:5px;
	font-size:18px;
	font-weight:bold;
	float:left;
}
.tweet_count_info
{
	font-size:12px;
	float:right;
}
#tweet_count
{
	font-size:18px;
	font-weight:bold;
}
.tweet_count_green
{
	color:#090;
}
.tweet_count_red
{
	color:#F00;
}
#tweet_warp, #msg_warp, #follow_warp, #info_warp, #action_div, .user_protected
{
	margin:10px;
}
.tweets, .msgs, .follow_status
{
	padding-top:5px;
	padding-bottom:5px;
	padding-right:0px;
	border-bottom:#CCC dashed 2px;
	overflow:auto;
}
.user_img_div
{
	float:left;
	overflow:visible;
}
.user_img
{
	width:48px;
	height:48px;
}
.user_img_big
{
	width:73px;
	height:73px;
	float:left;
}
.tweet_content, .msg_content, .follow_content
{
	width:490px;
	padding-left:20px;
	display:inline-block;
}
.tweet_text, .msg_text
{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
.tweet_info, .tweet_action, .msg_time, .msg_action
{
	font-size:12px;
	display:block;
	float:right;
}

.tweet_id, .msg_id, div.msg_form, div.user_form
{
	display:none;
}
.follow_status
{
	margin-top:5px;
	margin-bottom:5px;
}
.follow_info
{
	font-size:18px;
}
.follow_description
{
	display:block;
	font-size:12px;
}
#tweet_page, #msg_page, #follow_page
{
	float:left;
}
#side_warp
{
	width:200px;
	padding-bottom:100000px;
	margin-bottom:-100000px;
	float:right;
	background-color:#faffdf;
	border:#e7ead7 solid 1px;
	border-bottom-width:0px;
	border-top-width:0px;
}
.side_user_info
{
	margin-top:20px;
	padding:10px;
}
.side_user_img_div
{
	float:left;
	overflow:visible;
}
.side_user_name
{
	margin-left:10px;
	float:left;
}
.side_user_location
{
	margin: 20px 5px 10px 5px;
}
.side_user_url_div, .side_user_description
{
	margin: 10px 5px 10px 5px;
}
.side_user_count
{
	margin: 50px 0px 10px 0px;
}
.side_count
{
	font-size:18px;
}
.side_tip
{
	font-size:12px;
}
.side_user_link
{
	padding:5px 10px 5px 10px;
	border-left: #e7ead7 solid 1px;
	float:left;
	display:block;
	text-align:center;
	font-weight:bold;
}
.side_user_link_last
{
	border-right:solid #e7ead7 1px;
}
.side_link_content
{
	margin: 20px 0px 10px 0px;
}
.side_link
{
	display:block;
	margin:0px;
	padding:5px 10px 5px 10px;
	border:#e7ead7 solid 1px;
	border-bottom-width:0px;
	font-weight:bold;
}
.side_link_last
{
	border-bottom-width:1px;
}
a.side_link:hover, a.side_user_link:hover
{
	background-color:#FFF;
	text-decoration:none;
}
.name
{
	font-weight:bold;
	font-size:18px;
}
.user_div
{
	float:left;
	margin: 20px 10px 10px 20px;
}
.user_name
{
	display:block;
	margin-bottom:10px;
}
#tweet_page, #msg_page, #follow_page
{
	float:right;
	margin:5px;
}
.pre_page, .next_page
{
	display:inline-block;
	margin:5px;
	padding:5px 10px 5px 10px;
	border:#e7ead7 solid 1px;
	background-color:#faffdf;
}
a.pre_page:hover, a.next_page:hover
{
	background-color:#FFF;
	text-decoration:none;
}
#status_warp
{
	margin:30px 20px 20px 20px;
}
#status_user_warp
{
	margin:0px 20px 20px 20px;
	padding-top:20px;
	border-top:#CCC solid 2px;
}
.status_text
{
	display:block;
	margin-bottom:30px;
	font-size:28px;
}
.status_source, .status_reply_to, .status_time
{
	color:#999;
	font-style:italic;
}
.user_name_div
{
	float:left;
	margin: 20px;
}
.status_user_screenname
{
	display:block;
	margin-bottom:5px;
	font-size:24px;
	font-weight:bold;
}
#foot_warp
{
	margin:0px;
	background-color:#dbeae3;
	padding:10px 10px 30px 10px;
	text-align:center;
	position:relative;
	z-index:100;
	font-size:12px;
}
#login_warp
{
	padding:30px;
	text-align:center;
}
.login_tip
{
	word-break:normal;
	text-align:left;
	padding: 0px 30px 30px 30px;
}
#loginform
{
	margin:0px auto;
	width:300px;
	font-size:20px;
	text-align:center;
}
.input_div
{
	padding:5px;
	text-align:left;
	overflow:auto;
	vertical-align:top;
}
.login_text
{
	float:left;
}
#username, #passwd
{
	float:right;
	font-size:16px;
	width:200px;
}
.login_button
{
	margin-top:20px;
	font-size:18px;
}

#setting_info, #setting_img, #jtweet_setting
{
	margin:20px auto auto 30px;
	overflow:auto;
}
.setting_div
{
	margin:5px;
	padding:0px;
}
.info_input
{
	width:300px;
}
.setting_tip, .img_tip
{
	color:#999;
	margin-right:10px;
	font-size:14px;
	font-style:italic;
	max-width:350px;
}
.info_text
{
	width:300px;
	height:100px;
	vertical-align:text-top;
}
#setting_sub, #jtweet_sub
{
	margin:20px auto;
	font-size:18px;
}
#setting_rst
{
	background-color:#FF9;
	border:#333 solid 1px;
	padding: 5px 20px 5px 20px;
	margin:20px;
}
#img_form
{
	margin-left:20px;
	float:left;
}
.twitpic
{
	margin:10px;
}
#twitpic_warp
{
	margin:20px auto 30px 30px;
}
.img_input_div, .img_tip
{
	margin:10px;
}
.img_input
{
	width:250px;
}
.twitpic_post
{
	margin:20px auto 20px 40px;
}
.newcome
{
	display:none;
}
.unread
{
	background-color:#FF9;
}
.side_rate
{
	padding:5px;
	display:block;
}
#ring_div
{
	height:0px;
}