<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
    	<servlet-name>_ah_sessioncleanup</servlet-name>
		<servlet-class>com.google.apphosting.utils.servlet.SessionCleanupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>_ah_sessioncleanup</servlet-name>
		<url-pattern>/_ah/sessioncleanup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>gae.CleanupSessionsServlet</servlet-name>
		<servlet-class>jtweet.gae.CleanupSessionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gae.CleanupSessionsServlet</servlet-name>
		<url-pattern>/_ah/cleansession</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>session-cleanup</web-resource-name>
			<url-pattern>/_ah/sessioncleanup</url-pattern>
			<url-pattern>/_ah/cleansession</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint> 
	<servlet>
		<servlet-name>apiproxy.ApiServlet</servlet-name>
		<servlet-class>jtweet.apiproxy.ApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apiproxy.ApiServlet</servlet-name>
		<url-pattern>/api</url-pattern>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>apiproxy.OAuthProxyServlet</servlet-name>
		<servlet-class>jtweet.apiproxy.OAuthProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apiproxy.OAuthProxyServlet</servlet-name>
		<url-pattern>/oauth/authorize</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.OAuthLoginServlet</servlet-name>
		<servlet-class>jtweet.web.OAuthLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.OAuthLoginServlet</servlet-name>
		<url-pattern>/oauthproxy</url-pattern>
		<url-pattern>/oauthoffical</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.OAuthCallbackServlet</servlet-name>
		<servlet-class>jtweet.web.OAuthCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.OAuthCallbackServlet</servlet-name>
		<url-pattern>/oauthcallback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.OAuthLogoutServlet</servlet-name>
		<servlet-class>jtweet.web.OAuthLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.OAuthLogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.IndexServlet</servlet-name>
		<servlet-class>jtweet.web.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.HomeServlet</servlet-name>
		<servlet-class>jtweet.web.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
		<url-pattern>/replies</url-pattern>
		<url-pattern>/favorites</url-pattern>
		<url-pattern>/retweets_by_me</url-pattern>
		<url-pattern>/retweets_to_me</url-pattern>
		<url-pattern>/public</url-pattern>
		<url-pattern>/follower</url-pattern>
		<url-pattern>/following</url-pattern>
		<url-pattern>/blocking</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.MsgServlet</servlet-name>
		<servlet-class>jtweet.web.MsgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.MsgServlet</servlet-name>
		<url-pattern>/inbox</url-pattern>
		<url-pattern>/outbox</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.UserServlet</servlet-name>
		<servlet-class>jtweet.web.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.UserServlet</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.StatusServlet</servlet-name>
		<servlet-class>jtweet.web.StatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.StatusServlet</servlet-name>
		<url-pattern>/status/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.SearchServlet</servlet-name>
		<servlet-class>jtweet.web.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.UpdateServlet</servlet-name>
		<servlet-class>jtweet.web.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.UpdateServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.ActionServlet</servlet-name>
		<servlet-class>jtweet.web.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.ActionServlet</servlet-name>
		<url-pattern>/action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.SettingServlet</servlet-name>
		<servlet-class>jtweet.web.SettingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.SettingServlet</servlet-name>
		<url-pattern>/setting</url-pattern>
		<url-pattern>/setimg</url-pattern>
	</servlet-mapping>
</web-app>
