<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
    	<servlet-name>_ah_sessioncleanup</servlet-name>
		<servlet-class>com.google.apphosting.utils.servlet.SessionCleanupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>_ah_sessioncleanup</servlet-name>
		<url-pattern>/_ah/sessioncleanup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>gae.CleanupSessionsServlet</servlet-name>
		<servlet-class>jtweet.gae.CleanupSessionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gae.CleanupSessionsServlet</servlet-name>
		<url-pattern>/_ah/cleansession</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>session-cleanup</web-resource-name>
			<url-pattern>/_ah/sessioncleanup</url-pattern>
			<url-pattern>/_ah/cleansession</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint> 

<!-- web -->

	<servlet>
		<servlet-name>apiproxy.OAuthProxyServlet</servlet-name>
		<servlet-class>jtweet.apiproxy.OAuthProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apiproxy.OAuthProxyServlet</servlet-name>
		<url-pattern>/oauth/authorize</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.OAuthLoginServlet</servlet-name>
		<servlet-class>jtweet.web.OAuthLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.OAuthLoginServlet</servlet-name>
		<url-pattern>/oauthproxy</url-pattern>
		<url-pattern>/oauthoffical</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.OAuthCallbackServlet</servlet-name>
		<servlet-class>jtweet.web.OAuthCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.OAuthCallbackServlet</servlet-name>
		<url-pattern>/oauthcallback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.OAuthLogoutServlet</servlet-name>
		<servlet-class>jtweet.web.OAuthLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.OAuthLogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.IndexServlet</servlet-name>
		<servlet-class>jtweet.web.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.HomeServlet</servlet-name>
		<servlet-class>jtweet.web.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
		<url-pattern>/replies</url-pattern>
		<url-pattern>/favorites</url-pattern>
		<url-pattern>/retweets_by_me</url-pattern>
		<url-pattern>/retweets_to_me</url-pattern>
		<url-pattern>/public</url-pattern>
		<url-pattern>/follower</url-pattern>
		<url-pattern>/following</url-pattern>
		<url-pattern>/blocking</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.MsgServlet</servlet-name>
		<servlet-class>jtweet.web.MsgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.MsgServlet</servlet-name>
		<url-pattern>/inbox</url-pattern>
		<url-pattern>/outbox</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.UserServlet</servlet-name>
		<servlet-class>jtweet.web.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.UserServlet</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.StatusServlet</servlet-name>
		<servlet-class>jtweet.web.StatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.StatusServlet</servlet-name>
		<url-pattern>/status/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.SearchServlet</servlet-name>
		<servlet-class>jtweet.web.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.UpdateServlet</servlet-name>
		<servlet-class>jtweet.web.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.UpdateServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.ActionServlet</servlet-name>
		<servlet-class>jtweet.web.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.ActionServlet</servlet-name>
		<url-pattern>/action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>web.SettingServlet</servlet-name>
		<servlet-class>jtweet.web.SettingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>web.SettingServlet</servlet-name>
		<url-pattern>/setting</url-pattern>
		<url-pattern>/setimg</url-pattern>
	</servlet-mapping>


<!-- Mobile -->

	<servlet>
		<servlet-name>mobile.IndexServlet</servlet-name>
		<servlet-class>jtweet.mobile.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.IndexServlet</servlet-name>
		<url-pattern>/m</url-pattern>
		<url-pattern>/m/index</url-pattern>
		<url-pattern>/m/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mobile.OAuthLoginServlet</servlet-name>
		<servlet-class>jtweet.mobile.OAuthLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.OAuthLoginServlet</servlet-name>
		<url-pattern>/m/oauthproxy</url-pattern>
		<url-pattern>/m/oauthoffical</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mobile.OAuthCallbackServlet</servlet-name>
		<servlet-class>jtweet.mobile.OAuthCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.OAuthCallbackServlet</servlet-name>
		<url-pattern>/m/oauthcallback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mobile.OAuthLogoutServlet</servlet-name>
		<servlet-class>jtweet.mobile.OAuthLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.OAuthLogoutServlet</servlet-name>
		<url-pattern>/m/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mobile.HomeServlet</servlet-name>
		<servlet-class>jtweet.mobile.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.HomeServlet</servlet-name>
		<url-pattern>/m/home</url-pattern>
		<url-pattern>/m/replies</url-pattern>
		<url-pattern>/m/favorites</url-pattern>
		<url-pattern>/m/retweets_by_me</url-pattern>
		<url-pattern>/m/retweets_to_me</url-pattern>
		<url-pattern>/m/public</url-pattern>
		<url-pattern>/m/follower</url-pattern>
		<url-pattern>/m/following</url-pattern>
		<url-pattern>/m/blocking</url-pattern>
		<url-pattern>/m/post</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mobile.UserServlet</servlet-name>
		<servlet-class>jtweet.mobile.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.UserServlet</servlet-name>
		<url-pattern>/m/user/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mobile.MsgServlet</servlet-name>
		<servlet-class>jtweet.mobile.MsgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.MsgServlet</servlet-name>
		<url-pattern>/m/inbox</url-pattern>
		<url-pattern>/m/outbox</url-pattern>
		<url-pattern>/m/senddm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mobile.ActionServlet</servlet-name>
		<servlet-class>jtweet.mobile.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.ActionServlet</servlet-name>
		<url-pattern>/m/re</url-pattern>
		<url-pattern>/m/rt</url-pattern>
		<url-pattern>/m/rt_offical</url-pattern>
		<url-pattern>/m/fav</url-pattern>
		<url-pattern>/m/unfav</url-pattern>
		<url-pattern>/m/fo</url-pattern>
		<url-pattern>/m/unfo</url-pattern>
		<url-pattern>/m/b</url-pattern>
		<url-pattern>/m/unb</url-pattern>
		<url-pattern>/m/delstatus</url-pattern>
		<url-pattern>/m/delmsg</url-pattern>
		<url-pattern>/m/dm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mobile.SearchServlet</servlet-name>
		<servlet-class>jtweet.mobile.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.SearchServlet</servlet-name>
		<url-pattern>/m/search</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>mobile.SettingServlet</servlet-name>
		<servlet-class>jtweet.mobile.SettingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.SettingServlet</servlet-name>
		<url-pattern>/m/setting</url-pattern>
		<url-pattern>/m/setimg</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>mobile.StatusServlet</servlet-name>
		<servlet-class>jtweet.mobile.StatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobile.StatusServlet</servlet-name>
		<url-pattern>/m/status/*</url-pattern>
	</servlet-mapping>
	
<!--API-->
	<servlet>
		<servlet-name>apiproxy.ApiServlet</servlet-name>
		<servlet-class>jtweet.apiproxy.ApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apiproxy.ApiServlet</servlet-name>
		<url-pattern>/api</url-pattern>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>apiproxy.ApiLoginServlet</servlet-name>
		<servlet-class>jtweet.apiproxy.ApiLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apiproxy.ApiLoginServlet</servlet-name>
		<url-pattern>/apioauth</url-pattern>
		<url-pattern>/apioauthproxy</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>apiproxy.ApiCallbackServlet</servlet-name>
		<servlet-class>jtweet.apiproxy.ApiCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apiproxy.ApiCallbackServlet</servlet-name>
		<url-pattern>/apicallback</url-pattern>
		<url-pattern>/apilogout</url-pattern>
	</servlet-mapping>	
</web-app>
